@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/variable/JetBrainsMono[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/variable/JetBrainsMono-Italic[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}


/* header section */


.home_header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #1d242b;
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    z-index: 1;

/* this stops the screen flicker/tearing */
    backface-visibility: hidden;
    will-change: transform;
    transform: translateZ(0);

}

.home_logo {
    padding-top: 15px;
    margin-left: 70px;
}

.home_header a {
    color: #a3ffd6;
    text-decoration: none;
    font-size: 16px;
}

.home_header-links-left {
    display: flex;
    margin-right: auto;
    padding: 40px 0 30px 30px;
    gap: 30px;
}

.home_header-links-right {
    display: flex;
    margin-left: auto;
    padding: 30px 50px 20px 30px;
    gap: 25px;
    margin-right: 70px;
}

.home_header-dropdown {
    position: relative;
    display: inline-block;
}

.home_header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d242b;
    border: solid 1px #b3a3ff;
    min-width: 50px;
    padding: 10px;
    color: #a3ffd6;
    z-index: 1;
}

a:hover {
    text-shadow: whitesmoke 1px 0 5px;
}

.home_header-dropdown:hover .home_header-dropdown-content {
    display: block;
}

.home_header-dropdown > .home_header-projects {
    padding-left: 8px;
}

.home_header-downarrow {
    color: #a3ffd6;
    margin-top: 3px;
    padding-left: 4px;
}

.home_header-icons {
    display: flex;
    gap: 2px;
    margin-top: 2px;
}

.home_header-icons a {
    margin-top: 2px;
} 


/* front page top container */ 


.home_landing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    height: 600px;
    max-width: 100%;
    background-color: #1d242b;
    color: #a3ffd6;
}

.home_header-text {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 500;
}

.home_landing-image {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.home_landing-image img {
    border-radius: 100px;
    border: #a3ffd6 2px solid;
}
 

/* biography */


.home_biography-container {
    height: 800px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    text-shadow: #1d242b 5px 5px 5px;
}

.home_biography-container img {
    opacity: 80%;
}

.home_biography-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: whitesmoke;
    width: 45%;
}

.home_biography-container h2 {
    text-align: center;
    padding-bottom: 50px;
}

.home_biography-bodytext {
    font-size: 22px;
} 

.home_biography-container p  {
    text-align: left;
}


/* project container */


.home_project-container {
    display: flex;
    flex-direction: column;
    background-color: #262c33;
    width: 100%;
    height: 550px;
    padding-bottom: 200px;
    justify-content: center;
    align-items: center;
}

.home_project-container-text {
    text-align: center;
    color: #a3ffd6;
    margin: 0;
    padding: 60px;
    font-size: 20px;
}

.home_project-container-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.project-container-images {
    height: 300px;
    width: 325px;
    border: solid #b3a3ff 2px;
}

.project-container-images p {
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
}


/* footer section */


.home_footer {
    display: flex;
    height: 50px;
    background-color: white;
}

