@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/variable/JetBrainsMono[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/variable/JetBrainsMono-Italic[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.home_header {
    display: flex;
    align-items: center;
    height: 67px;
    background-color: #1d242b;
}

.home_logo {
    margin-left: 40px;
}

.home_header a {
    color: #a3ffd6;
    text-decoration: none;
    font-size: 16px;
}

.home_header-links {
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 30px;
    margin-right: 60px;
}

.home_header-text,
h1 {
    font-size: 48px;
    font-weight: 500;
    padding: 60px 20px 20px 60px;
    max-width: 350px;
    background-color: #1d242b;
    color: #a3ffd6;
}

.home_front-container {
    display: flex;
    height: 400px;
}

.cont2 {
    background-color: #1d242b;
    width: 100%;
}